{{ header }}
// Kind: convex-ledgers
// Stack: convex

export const freeScanLedgers = {
  // BEGIN-IMPL (keep)
  // TODO: schema and functions for UserFreeScanLedger, SiteFreeScanLedger, UrlFreeScanLedger
  // END-IMPL
}
