{{ header }}
// Kind: convex-schema
// Stack: convex

export default {
  // BEGIN-IMPL (keep)
  // TODO: define tables: users, sites, scans, signals, categories, scores, recommendations, versions, schedules
  // END-IMPL
}
