{{ header }}
// Kind: worker-producer
// Stack: cloudflare-workers

export default {
  async fetch(request, env, ctx) {
    // BEGIN-IMPL (keep)
    // TODO: validate input; put message into Queue (env.MY_QUEUE)
    // Example: await env.MY_QUEUE.send({ type: 'scan', url })
    // END-IMPL
    return new Response('ok')
  }
}
