{{ header }}
// Kind: analytics-client
// Stack: analytics-posthog

export function getPostHog() {
  // BEGIN-IMPL (keep)
  // TODO: initialize PostHog client with server/browser tokens
  // END-IMPL
}
